# === ENVIRONMENT & CONFIG ===
.env
.vscode
POSTMAN/

# === LOGS ===
logs/

# === AUTH FILES ===
src/auth/

# === DATA ===
src/data/

# === BUILD ARTEFACTS ===
src/ecg_service.egg-info/

# === TEMPORARY / CACHED FILES ===
TEMP/
tmp/
__pycache__/
*.py[cod]
*.log
.pytest_cache
_misc

# === SYSTEM FILES ===
.DS_Store
Thumbs.db

# === VIRTUAL ENVIRONMENTS (if you add one later) ===
venv/
env/
